html {
	box-sizing: border-box;
}

body {
	font-family: "TT Lakes" , sans-serif;
	min-width: 320px;
	height: 100vh;
	background-color: #F8F8F8;
	margin: 0;
	padding: 0;
}

.services__title {
	height: 48px;
	padding: 16px;
	color: #7E7E82;
	text-transform: uppercase;
	letter-spacing: -0.2px;
	font-weight: normal;
	font-size: 16px;
	margin: 0 0 16px 0;
	border-top: 1px solid #D9FFF5;
	background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.services__wrapper {
	margin-left: 16px;
}

.services__list {
	display: flex;
	margin-bottom: 40px;
	gap: 16px;
}

.services__item {
	width: 240px;
	height: 72px;
	background: #FFFFFF;
}

.services__btn {
	position: relative;
	width: inherit;
	height: inherit;
	background-color: inherit;
	border: none;
	text-align: left;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
	padding-left: 16px;
	cursor: pointer;
}

.services__btn::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid #FF3E79;
	border-radius: 50%;
	right: 16px;
	top: 12px;
	background: url(../img/slider/dropdown.svg) no-repeat 55% 50%;
	transition-duration: 0.3s;
}

.services__btn:hover::after {
	background-color: #FFE0E9;
	border-color: #FFE0E9;
}

.services__btn-show-more {
	display: none;
	position: relative;
	background-color: inherit;
	border: none;
	text-align: center;
	padding-left: 25px;
	margin: 0 0 34px 32px;
	letter-spacing: -0.2px;
	cursor: pointer;
	transition: 0.3s;
}

.services__btn-show-more:hover{
	color: #04D2AF
}

.services__btn-show-more::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0;
	top: 2px;
	background: url(../img/icon/arrow.svg) no-repeat ;
}

.services__btn-show-more.services__btn-show-more--open::before{
	transform: rotate(180deg);
	top: -11px;
	left: -17px;
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #B5B6BC;
 }

@media (min-width: 768px) {
	body {
		min-width: 768px;
	}
	
	.services__title {
		height: 24px;
		padding-left: 24px;
		margin-bottom: 24px;
		background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%)
	}

	.services__btn-show-more {
		display: inline-block;
	}

	.services__list {
		flex-wrap: wrap;
		gap: 24px;
		margin-bottom: 24px;
		height: 170px;
		overflow: hidden;	
	}

	.services__list--show-all {
		height: auto;
	}

	.services__item {
		width: 224px;
		/* margin-bottom: -10px; только так получается с gap, указать нужный вертикальный отступ. Или всё же правильней тут обойтись без gap?*/
	}

	.services__wrapper {
		margin-left: 24px;
	}
	
	.services__btn-show-more {
		margin-left: 32px;
	}
}

@media (min-width: 1120px) {
	body {
		min-width: 1120px;
	}

	.services__title {
		padding-left: 32px;
	}

	.services__item{
		gap: 32px;
	}

	.services__item {
		width: 240px;
		background: #FFFFFF;
	}

	.services__wrapper {
		margin-left: 32px;
	}
	
	.services__btn-show-more {
		margin-left: 39px;
	}
}

@media (min-width: 1664px) {
	.services__btn-show-more{
		display: none;
	}
}

